:root {
  --primario: #00ff00;
  --primarioOscuro: #00cc33;
  --primarioClaro: #91f3a9;
  --blanco: #fff;
  --negro: #000;
  --secundario: #5d6d7e;
  --terciario: #393c4d;
  --terciarioDark: #24273a;
  --darkness: #332c2c;
  --fuentePrincipal: "Exo 2", sans-serif;
  --fuenteSecundaria: "Pattaya", sans-serif;
}
/*Globales*/
html {
  font-size: 62.5%; /*1rem=10px*/
  box-sizing: border-box;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  max-width: 100%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', 'Pattaya' sans-serif;
  font-size: 2rem;
  box-sizing: inherit;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.3rem;
}
h1,
h2,
h3 {
  text-align: center;
}
p {
  font-size: 1.5rem;
}
body {
  background: url(../img/backgroundwallpaper.webp) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}
/**Utilities**/
.w-sm-100 {
  width: 100%;
}
@media (min-width: 768px) {
  .w-sm-100 {
    width: auto;
  }
}
.flex {
  display: flex;
}
.alinear-derecha {
  justify-content: flex-end;
}
/**NAV**/
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8.5rem;
  padding: 0.5rem 10%;
}
.header .logo {
  cursor: pointer;
  margin-right: auto;
}
.header .logo img {
  height: 7rem;
  width: auto;
  transition: all 0.3s;
  border-radius: 17%;
}
.header .logo img:hover {
  transform: scale(1.2);
}
.header .nav-links {
  list-style: none;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 2rem;
}
.header .nav-links li:hover,
.overlay a:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.header .nav-links a {
  font-size: 700;
  color: var(--blanco);
}
.header .nav-links a:hover {
  color: var(--primario);
}
.menu {
  display: none;
}
.header .bttn button,
.header .menu button {
  margin-left: 2rem;
  font-weight: 700;
  color: var(--blanco);
  padding: 0.9rem 2.5rem;
  background: var(--terciario);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.header .bttn button:hover,
.header .menu button:hover {
  background-color: var(--terciarioDark);
  color: var(--primario);
  transform: scale(1.1);
}
/**Media Query's NAV BAR**/
@media screen and (max-width: 1157px) {
  .header {
    padding: 0;
    margin: 1rem;
  }
}
@media screen and (max-width: 945px) {
  .nav-links,
  .bttn {
    display: none;
  }
  .menu {
    display: inherit;
  }
}
/*Nav Responsive*/
.header a {
  text-decoration: none;
}
.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-image: url(../img/backgroundwallpaper.webp);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .overlay a {
  padding: 1.5rem;
  font-size: 3.6rem;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: var(--blanco);
}
.header .overlay a:hover,
.header .overlay a:focus {
  color: #00ff00;
}
.header .overlay .close {
  position: absolute;
  top: 2rem;
  right: 4.5rem;
  font-size: 6.5rem;
}
@media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 2rem;
  }
  .header .overlay .close {
    font-size: 4rem;
    top: 1.5rem;
    right: 3.5rem;
  }
}
/** I need a hero? **/
.hero {
  background-image: url(../img/banner__hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 65rem;
  position:relative;
  max-width: 100%;
  background-attachment: initial;
  margin-bottom: -.7rem;
}
.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /** Anterior **/
  background-color: rgb(0 0 0 / 70%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}
.contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
  padding: 2rem;
}
/**MAIN**/
.conttainer {
  width: 80%;
  height: 42rem;
  margin: auto;
}
.contttainer {
  width: 100%;
  height: 122px;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content:center;
}
.glaass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0));
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.18);
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
  margin: 2rem 0;
}
main .conttainer {
  height: 100%;
  overflow: auto;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0));
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(196, 192, 192, 0.37);
  transition: all 400ms ease;
}
.glass:hover{
  box-shadow: 5 16px 48px 0 rgba(222, 218, 218, 0.73);
  border: 2px solid rgba(255, 255, 255, 0.694);
  /* border: 2px solid rgba(72, 227, 61, 0.915); */
  transform: translateY(-1%);
}
.titulo {
  margin: 0 3rem;
  color: var(--blanco);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.cajasPadre {
  width: 95%;
  color: var(--blanco);
  margin: auto;
  margin-bottom: 2rem;
  overflow: hidden;
}
.cajasHijos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  overflow: auto;
}
.cajaHijos {
  margin: 1rem;
}
@media (max-width: 650px) {
    .cajaHijos, .cajaHijos iframe{
      width: 100%;
    }
}
@media (max-width: 768px) {
  .cajasHijos, .cajasHijoss{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .cajasPadre {
    width: 100%;
  }
  .conttainer .cajasPadre{
    width:100%;
  }
  main .conttainer.glass{
    width: 98%;
  }
}
@media (max-width: 936px){
  .conttainer, .cajasPadre{
    width: 100%;
  }
    .cajasPadre .cajasHijos, .cajasPadre .cajasHijoss{
      width: 100%;
    }
    
}
.cajasHijoss{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 1rem;
}
main h2 {
  color: var(--blanco);
  padding-bottom: 2rem;
}

/**Media Query's MAIN**/
@media screen and (max-width: 375px){
  .conttainer{
    width: 100%;
    font-size: 200;
  }
}
@media screen and (max-width: 650px){
  .conttainer{
    width: 100%;
  }
}
@media (max-width: 1200px) {
    .cajasHijos, .cajasHijoss{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}
/**CAJAS INDEX**/
.cajasPadre{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cajasPadre img{
  border-radius: 2rem;
}
.cajasPadre h2 {
  text-decoration: solid;
}
@media (max-width: 750px){
  .bloqueUno{
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  .cajasPadre, .cajaHijos, .cajaHijos iframe{
    width: 100%;
  }
  .fotoBloqueUno .fotosSuperior {
    border-bottom-left-radius: 15px;
  }
  .fotoBloqueUno .fotosInferior {
    border-bottom-right-radius: 15px;
  }
  .conttainer{
    width: 100%;
  }
  .bloqueCero .glass{
    height: 58.4rem;
  }
  .bloqueUno .fotoBloqueUno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .fotoBloqueUno img{
    width: 100%;
    height: 220px;
    border-radius: 0;
    background-size: cover;
    overflow: hidden;
  }
}
@media (max-width: 568px) {
  /* main .cuerpodeProgramas{
    width: 100%;
    margin: 0;
  } */
  .bloqueCero{
    width: 100%;
    margin-right: auto;
  }
  .fotoBloqueUno .fotosInferior {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .bloqueCero .glass{
    height: 79rem;
    width: 100%;
  }
  .bloqueUno .fotoBloqueUno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .fotoBloqueUno img{
    width: 100%;
    height: 220px;
    border-radius: 0;
    background-size: cover;
    overflow: hidden;
  }
}
/** SECCIONS PROFESORES*/
.cajaMain{
  gap: 2rem;
}
.miniCajaProfesor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.miniCajaProfesor h2, p {
  color: var(--blanco);
}
.cajaTextos{
  margin: 2rem;
}
.miniCajaProfesor p{
  font-size: 1rem;
}
.fotoProfesor img{
  width: 45rem;
}
.fotProfesora{
  max-width: 100rem;
}
/* .fotoBloqueUnop{
  overflow: hidden;
} */
@media (max-width:1250px ) {
    .miniCajaProfesor{
      flex-direction: column;
    }
}
/* SECCION PROGRAMAS BLOQUES E IMAGENES */
main{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  font-weight: 400;
  margin: 0;
}
.tituloPrincipal {
  color: var(--blanco);
  text-align: center;
}
@media (max-width: 768px) {
  .cuerpodeProgramas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }
}
@media (max-width: 480px) {
  .glass{
    width: 400rem;
  }
  }
.cajasPadre{
  width: 90%;
}
.bloqueCero {
  margin-bottom: 2rem;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
}
.bloqueCero p {
  color: var(--blanco);
}
.bloqueUno {
  display: flex;
  border-radius: 18px;
  height: 40rem;
}
main .bloqueUnoInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  height: auto;
  justify-content: center;
}
.fotosSuperior,
.fotosInferior {
  width: 30rem;
  height: 100%;
}
.fotosSuperior {
  border-top-right-radius: 15px;
}
.fotosInferior {
  border-bottom-right-radius: 15px;
}
.fotoBloqueUno {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.HorariosUno,
.HorariosDos {
  background-color: var(--negro);
  color: var(--blanco);
  padding: 1rem;
  width: 30rem;
  margin: 1rem;
  text-align: center;
  border-radius: 8px;
}
/**Form**/
.formulario {
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}
.formulario fieldset {
  border: none;
}
.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--primario);
}
@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
    margin-bottom: 1rem;
  }
  .campo:nth-child(3),
  .campo:nth-child(4) {
    grid-column: 1 / 3;
  }
}
.campo {
  margin-bottom: 1rem;
}
.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.campo textarea {
  height: 20rem;
}
.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.conttainer h1 {
  color: var(--blanco);
}
@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}
.boton:hover {
  cursor: pointer;
}
.enviar .boton {
  width: 100%;
}
.boxFormulario {
  margin-top: 2rem;
}
/**ICONOS CONTACTO + MAPS**/
.contactoBloque {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}
.iconContactoFather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.iconsContacto {
  display: flex;
  flex-direction: column;
}
.iconsContacto iframe{
  width: 50rem
}
.parent,
.cajaHorarios,
.contactoBloque {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  overflow: hidden;
}
.contactoBloque .iconsContacto img {
  transition: all 0.3s;
  border-radius: 17%;
}
.contactoBloque .iconsContacto img:hover {
  transform: scale(1.2);
}
@media (max-width: 945px) {
  .contactoBloque, .iconsContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .iconsContacto iframe{
    width: 95%;
  }
}
@media (max-width: 950px) {
  .contactoBloque .iconsContacto {
    width: 100%;
  }
  }
/**NOSOTROS**/
.conttainer.glass .cajaHorarios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  color: var(--blanco);
  margin: 2rem;
}
.conttainer.glass,
.cajaHorarios p {
  text-align: center;
}
.cajaHorarios h2,
h3 {
  text-decoration: solid;
  text-decoration: underline;
}
.parent {
  width: 100%;
  min-height: 65rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 55rem 55rem;
}
.sons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info{
  margin-top: -15rem;
}
section .cajaHorarios{
  width: 100%;
  margin-bottom: -17rem;
}
.sons iframe{
  width: 100%;
}
.soccial{
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.soccial img{
  width: 30rem;
  margin: 1rem;
  border-radius: 2rem;
}
.sons .userExperienceMaster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -13rem;
}
.userExperienceMaster .userExperience {
  border: 1px solid rgba(255, 255, 255, 0.354);
  color: var(--blanco);
  width: 35rem;
  margin: 1rem;
  text-decoration: none;
  border-radius: 2rem;
}
.userExperience{
  padding: .5rem;
}
.userExperience ul {
  list-style: none;
}
.userExperience svg {
  width: 64px;
  height: 64px;
}
.boxOne{
  margin-right: 25rem;
}
.boxTwo{
  margin: 0;
}
.boxThree{
  margin-left: 25rem;
}
/**whatsapp button**/
.whatsapp {
  position: fixed;
  bottom: 20px;
  right:20px;
}
.whatsapp svg {
  width: 80px;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}
.whatsapp circle {
  fill: #25d366;
}
.whatsapp path {
  fill: #fff;
}

@media (max-width: 1190px) {
    .parent{
      display: flex;
      flex-direction: column;
    }
    .parent .sons{
      margin: 0;
    }
    .userExperienceMaster .boxOne,
    .userExperienceMaster .boxTwo,
    .userExperienceMaster .boxThree{
      margin: 0;
      gap: 0;
    }
    .parent div{
      margin: 0;
    }
      .soccial {
        width: 100%;
        margin: 0;
      }
      .cajaHorarios iframe{
        width: 95%;
      }
      .sons .userExperienceMaster {
        margin: 1rem;
      }
      .soccial img{
        margin: 0;
  }
  .mqFlex{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
/**FOOTER**/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--blanco);
  height: auto;
  padding: 0.5rem 10%;
  background-color: var(--negro);
  height: auto;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}
.footer .iconsans img {
  width: 3rem;
  height: 3rem;
  transition: all 0.3s;
  border-radius: 17%;
}
.footer .iconsans img:hover {
  transform: scale(1.2);
}
.footer .iconsans {
  cursor: pointer;
  margin-right: auto;
}
@media (max-width: 436px) {
  .footer {
  height:fit-content;
  }
}
/*slider brandmarks*/
.texto p{
  font-family: var(--fuenteSecundaria);
  font-size: 2.5rem;
}
.slider{
  width: 78vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slide {
  width: 20rem;
}
.slider .slide-track{
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: scroll 180s linear infinite;
  -webkit-animation: scroll 360s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
    width: 100px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-100px * 7));
        transform: translateX(calc(-100px * 7));
    }
}