/**FOOTER**/
.footer {
	@include flex (flex, space-around, center, row);
    color: nth($colores, 4);
    height: auto;
    padding: 0.5rem 10%;
    background-color: nth($colores, 5);
    height: auto;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
    bottom: 0;
	flex-wrap: wrap;
}
.footer {
	.imgFoot img{
		width: 200px;
		height: 200px;
	}
	.partOneFoot{
		@include flex (flex, space-around, center, row);
		border-bottom: map-get($textDecorations, subrayado);
		width: 100%;
		padding: 2rem;
	}
	.partOneFoot .dirFoot{
		flex-direction: row;
		.infoFoot{
			display: flex;
			flex-direction: column;
		}
	}
	}
	.partOneFoot .hsFoot{
		display: flex;
		flex-direction: column;
		table{
			border-collapse: collapse;
			border-spacing: 0;
			text-indent: initial;
		}
		tr {
			text-transform: uppercase;
			td{
				&:last-child {
					padding: 0 5rem;
				}
			}
		}
	}
	.partOneFoot .iconsans {
		cursor: pointer;
		flex-direction: row;
		img {
			width: 6rem;
			aspect-ratio: 1;
			transition: all 0.3s;
			border-radius: 17%;
			img {
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}

.partTwoFoot{
	width: 100%;
	text-align: center;
}